*{
    margin: 0;
    padding: 0;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 50px;
    padding-left: 66px;
    padding-top: 20px;
}
.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border: 1px ;
    padding: 5px;
    box-shadow: 0px 1px 3px #7f8496;
}
.nav-items{
    display: flex;
    width: 100%;
}
ul.menu-left{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
    padding-top: 18px;
   
}
ul.menu-left li{
    margin-right: 30px;
    font-size: 15px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
ul.menu-right{
    display: flex;
    align-items:center;
    padding-right: 85px;
}
ul.menu-right li{
    margin-right: 25px;

}
.navigation{
    width: 14px;
}
.store{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.sign{
    border: 1px solid white;
    border-radius: 20px;
    border-color: black;
    background-color: white;
    width: 90px;
    height: 33px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.join-now{
    border: 1px solid white;
    border-radius: 20px;
    border-color: #e7e2e2;
    background-color: #020202;
    width: 90px;
    height: 33px;
    cursor: pointer;
    font-size: 13px;
    color: white;
}
.box{
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    box-shadow: 0px 1px 3px #7f8496;
   
}

.box1{
    width: 100%;
    height: 415px;
    background-color:#d4e9e2;
    display: flex;
   padding-bottom: 20px;
}
.box1-1{
width: 50%;
height: auto;

}
.box1-2{
    width: 50%;
    height: auto;
    padding-top: 26px;
    padding-left: 75px;
}
.img-box1{
    padding-top: 10px;
}
.box1-head-text{
    
    font-size: 24px;
    padding-bottom: 20px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.box1-para{
    
    font-size: 22px;
    padding-bottom: 20px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.box1-2 ul{
   
    line-height: 2;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}
.link-account{
    border: 1px solid white;
    border-radius: 20px;
    border-color:black;
    background: none;
    width: 120px;
    height: 33px;
    cursor: pointer;
    font-size: 13px;
    color:black;

}
.box2{
    padding-top: 20px;
    width: 100%;
    height: 415px;
    display: flex;
   
}
.box2-1{
    width: 50%;
    background-color:#006241;
    height: 393px;
}
.box2-2{
    width: 50%;
    height: auto;
}
.box2 h1{
    text-align: center;
    padding-top: 68px;
    font-size: 24px;
    color: #ffffff;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.box2 p{
    padding-top: 24px;
    padding-left: 146px;
    font-size: 18px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
}
.buy-now{
    border: 2px solid white;
    border-radius: 20px;
    border-color:white;
    background: none;
    width: 100px;
    height: 33px;
    cursor: pointer;
    font-size: 13px;
    color:white;
}

.box3{
   width: 100%;
   height: 584px;
   display: flex;
   padding-bottom: 30px;
}
.box3-1{
    width: 50%;
    height: 584px;
}
.box3-2{
    width: 50%;
    height: 584px;
    background-color: #006241;
}
.box3 h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-top: 155px;
}
.order-now{
    border: 2px solid white;
    border-radius: 20px;
    border-color:white;
    background: none;
    width: 100px;
    height: 33px;
    cursor: pointer;
    font-size: 13px;
    color:white;
}

.box4{
  width: 100%;
  height: 584px;
  display: flex;
  padding-bottom: 25px;
}
.box4-1{
    width: 50%;
    height: 585px;
    background-color: #006241;
}
.box4-2{
    width: 50%;
    height: 584px;
}
.box4 h1{
    padding-top: 130px;
    text-align: center;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.learn-more{
    border: 2px solid white;
    border-radius: 20px;
    border-color:white;
    background: none;
    width: 100px;
    height: 33px;
    cursor: pointer;
    font-size: 13px;
    color:white;
}
.box5{
    width: 100%;
    height: 584px;
    display: flex;
  }
  .box5-1{
      width: 50%;
      height: 585px;
      padding-bottom: 30px;
      
  }
  .box5-2{
      width: 50%;
      height: 584px;
      background-color: #006241;
  }
  .box5 h1{
    padding-top: 130px;
    text-align: center;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.text{
    width: 100%;
    height: 140px;
    box-shadow: 0px 1px 3px #7f8496;
  text-align: center;
 padding-top: 87px;

}
.footer1{
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow:0px 1px 1px #7f8496;

}
th{
    padding-bottom: 15px;
    text-align: left;
    padding-left: 40px;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}



.footer-table td{
    line-height: 1.5;
    color: rgb(90, 87, 87);
    padding-left: 40px;
    width: 240px;

}
.footer-table tr{
    padding-bottom: 15px;
    text-align: left;
    padding-left: 40px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 50px;
   
}

.footer1-table td:hover{
    color:black;
    cursor: pointer;
}
.foot2{
    padding-top: 40px;
}
.foot2 hr{
    box-shadow:0 1px 3px rgb(0,0,0,10%),0 2px 2px rgb(0,0,0,6%),
    0 0 2px rgb(0,0,0,7%) ;
}

.foot2 ul{
    display: flex;

}

.foot2 li{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: 40px;
}
.foot2 p{
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.foot2 sub{
    margin-left: 40px;
    padding-bottom: 50px;

}

/*text sizes*/

.text-xl{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 650;
    margin-bottom: 20px;
}

.text-lg{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-right: 80px;
    padding-left: 90px;
    line-height: 1.6;
}

.text-md{
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm1{
    font-size: 18px;
    font-weight:500;
    margin-bottom: 20px;
    padding-right: 220px;
    line-height: 1.9;
}

.text-sm{
    font-size: 18px;
    font-weight:500;
    margin-bottom: 20px;
    padding-right: 0px;
    line-height: 1.9;
}

.text-sm li{
    margin-left: 20px;
    line-height: 2.3;
}